* {
  font-family: 'Roboto';
}
.mainBg {
  background-size: cover;
  background-image: linear-gradient(#fbc7d4, #9796f0);
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointment-container {
  background-color: white;
  border-radius: 12px;
  width: 90%;
  padding: 30px;
}
label {
  color: #b5b7c4;
  font-weight: bold;
}
input {
  width: 100%;
  height: 40px;
  margin-top: 12px;
  padding: 10px;
  cursor: pointer;
}
.btn-1 {
  border-radius: 12px;
  width: 60px;
  padding: 8px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  background-color: #8b5cf6;
  color: white;
}
.btn-2 {
  border-radius: 12px;
  height: 40px;
  width: 100px;
  border: 2px solid #8b5cf6;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: #8b5cf6;
}
.btn-2Inverse {
  background-color: #8b5cf6;
  color: white;
  border: 0px solid;
}
.input-feilds-container {
  display: flex;
  justify-content: space-around;
}
.inputFeild {
  padding: 10px;
  width: 500px;
}
.img {
  width: 90%;
}
ul {
  margin: 0px;
  padding: 0px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
li {
  margin: 4px;
  list-style: none;
}
@media (max-width: 576px) {
  .img-div {
    display: none;
  }
  .mainBg {
    height: 100vh;
  }
  .appointment-container {
    padding: 10px;
  }
  h1 {
    font-size: 25px;
  }
  input {
    border: 2px solid #b5b7c4;
    border-radius: 4px;
  }
  .btn-2 {
    height: 30px;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
}
